<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href ="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}} 
        <p>Ta strona zostałą stworzona przez Ireneusza Winnika. <br> Wykorzystuje dane z mapbox.com i darksky.net.</p>
        <img class='portrait' src="/img/snail.jpg"></img>
    </div>
    {{>footer}}
</body>


</html>